@media screen and (max-width: 768px){
    .ck-index-layout {
        min-width: unset;
    }
    /* 自定义样式 */
    .ck-aside {
        display: none;
    }
    .ck-idx-head-header {
        font-size: 16px;
        height: 70px;
    }
    .ck-idx-head-main {
        padding: 10px;
        font-size: 16px;
    }
    .ck-idx-head-aside {
        font-size: 14px;
    }
    .ck-idx-head-aside .el-card__body{
        padding: 10px;
    }
    .ck-idx-head-aside ol {
        padding: 0 0 0 20px;
    }
    .ck-idx-head-footer {
        font-size: 12px;
        text-align: center;
    }
    .ck-display-none-app {
        display: none !important;
    }
    .ck-main-div {
        min-height: 530px;
    }
    .ck-image {
        width: 100%;
        display: block;
    }
    .ck-card-title {
        font-family: 'STXinwei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
        font-size: 24px;
    }
    .ck-card-outline {
        font-family: 'STXinwei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
    }
    .ck-card-tag {
        font-size: 14px;
    }
    .ck-card-tag .el-tag {
        margin: 0 5px 5px 0;
    }
    .ck-card-tag .el-tag:last-child {
        margin-right: 0;
    }
    .ck-card-tag2 {
        font-size: 14px;
        margin-top: 10px;
    }
    .ck-card-tag2 .el-tag {
        margin: 0 5px 5px 0;
    }
    .ck-card-tag2 .el-tag:last-child {
        margin-right: 0;
    }
    .ck-card-blogDetail {
        max-width:760px;
        margin-left:auto;
        margin-right:auto;
    }
    /* 覆盖原生样式 */
    .el-col-20 {
        width: 100%;
    }
    .el-col-16 {
        width: 100%;
    }
    .el-col-14 {
        width: 100%;
    }
    .el-col-12 {
        width: 100%;
    }
    .el-col-11 {
        width: 100%;
    }
    .el-col-10 {
        width: 100%;
    }
    .el-col-8 {
        width: 100%;
    }
    .el-col-6 {
        width: 70%;
    }
    .el-col-4 {
        width: 100%;
    }
    .el-footer {
        padding: 10px 10px 10px 10px;
    }
    .el-header {
        padding: 0px;
    }
    .el-aside {
        color: #333;
    }
    .el-main {
        color: #333;
    }
    .el-link {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px){
    .ck-index-layout {
    max-width: 1366px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
    /* 自定义样式 */
    .ck-aside {
    width: 20% !important;
    }
    .ck-idx-head-header {
    font-size: 16px;
    height: 70px;
    }
    .ck-idx-head-main {
    font-size: 16px;
    }
    .ck-idx-head-aside {
    line-height: 22px;
    font-size: 14px;
    }
    .ck-idx-head-aside .el-card__body{
    padding: 10px;
    }
    .ck-idx-head-aside ol {
    padding: 0 0 0 20px;
    }
    .ck-idx-head-footer {
    font-size: 12px;
    text-align: center;
    }
    .ck-display-none-pc {
    display: none !important;
    }
    .ck-main-div {
    min-height: 730px;
    }
    .ck-image {
    width: 100%;
    display: block;
    }
    .ck-image-radius {
    border-radius: 10px;
    }
    .ck-card-title {
    font-family: 'STXinwei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
    font-size: 24px;
    cursor: pointer;
    }
    .ck-card-outline {
    font-family: 'SimHei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    }
    .ck-card-tag {
    font-size: 14px;
    }
    .ck-card-tag .el-tag {
    margin: 0 10px 10px 0;
    }
    .ck-card-tag .el-tag:last-child {
    margin-right: 0;
    }
    .ck-card-tag2 {
    font-size: 14px;
    margin-top: 10px;
    }
    .ck-card-tag2 .el-tag {
    margin: 0 10px 0 0;
    }
    .ck-card-tag2 .el-tag:last-child {
    margin-right: 0;
    }
    .ck-card-blogDetail {
    max-width:760px;
    margin-left:auto;
    margin-right:auto;
    }
    .ck-markdown-css {
    font-family: 'SimHei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 26px;
    }
    /* 覆盖原生样式 */
    .el-footer {
    padding: 10px 10px 10px 10px;
    }
    .el-aside {
    color: #333;
    }
    .el-link {
    font-size: 14px;
    }
    .hljs {
    font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
    }
}
