/* RESET
=============================================================================*/
@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BODY
=============================================================================*/

body>*:first-child {
  margin-top: 0 !important
}

body>*:last-child {
  margin-bottom: 0 !important;
}

/* BLOCKS
=============================================================================*/

p, blockquote, ul, ol, dl, pre {
  margin: 15px 0;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  background-color: #f5f5f5;
  color: #777;
}

/* HEADERS
=============================================================================*/

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  /* 集成父元素的字体大小 */
  font-size: inherit;
}

p code, li code, tr code, td code {
  display: inline !important;
  overflow-x: auto !important;
  padding: .1em !important;
  border-radius: 3px;
  background: #e6a23c !important;
}

#markdown h1 {
  padding: 0;
  font-size: 24px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
#markdown h2 {
  font-size: 20px;
  padding: 0;
  /* 抗锯齿渲染 对字体进行抗锯齿渲染可以使字体看起来会更清晰舒服 */
  -webkit-font-smoothing: antialiased;
  border-radius: 5px;
  padding: 4px 0 10px 6px;
  background-image: url(../../assets/h2bg.png);
  background-repeat:no-repeat;
  margin-left: 5px;
}
#markdown h3 {
  font-size: 19px;
}
#markdown h4 {
  font-size: 17px;
  color: #000000;
}
#markdown h5 {
  font-size: 16px;
  color: #000000;
}
#markdown h6 {
  font-size: 14px;
  color: #000000;
}

/* LINKS
=============================================================================*/

#markdown a {
  color: #ff0000;
  text-decoration: none;
}
#markdown a:focus {
  outline: thin dotted;
}

#markdown a:active,
#markdown a:hover {
  outline: 0;
}
#markdown a:hover {
  color: #cb4b16;
  text-decoration: underline;
}
#markdown a:visited {
  color: #ff0000;
}

/* P
=============================================================================*/
#markdown p {
  font-family: 'SimHei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  word-wrap: break-word;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

/* LISTS
=============================================================================*/

#markdown ul,#markdown ol {
  padding-left: 25px;
  font-family: 'SimHei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  word-wrap: break-word;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt>:first-child {
  margin-top: 0px;
}

dl dt>:last-child {
  margin-bottom: 0px;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd>:first-child {
  margin-top: 0px;
}

dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

tt {
  font-size: 16px;
  font-family: 'Consolas', "Liberation Mono", Courier, monospace;
  margin: 0 0px;
  padding: 0px 0px;
  white-space: pre;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}


pre {
  font-size: 13px;
  line-height: 18px;
  overflow: auto;
  border-radius: 5px;
  font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
}

pre tt {
  background-color: transparent;
  border: none;
}

/* HORIZONTAL RULES
=============================================================================*/

#markdown hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 2px dashed #ddd;
  padding: 0;
}

/* IMAGES
=============================================================================*/
#markdown img {
  max-width: 100%;
  height: auto;
}

/* TABLES
=============================================================================*/
#markdown table{
  margin: 15px auto;
}

#markdown table th {
  font-weight: bold;
  border: 1px solid #282828;
  color: #000000;
  padding: 5px 10px;
  background-color: #fffbea;
}

#markdown table th, #markdown table td {
  border: 1px solid #282828;
  padding: 5px 10px;
}
