#app {
  min-width: unset;
}
/* 自定义样式 */
.ck-aside {
  display: none;
  width: 200px !important;
}
.ck-idx-head-header {
  font-size: 14px;
}
.ck-idx-head-main {
  padding: 10px;
  font-size: 14px;
}
.ck-idx-head-aside {
  font-size: 12px;
}
.ck-idx-head-footer {
  font-size: 10px;
  text-align: center;
}
.ck-display-none-app {
  display: none !important;
}
.ck-main-div {
  min-height: 530px;
}
.ck-image {
  width: 100%;
  display: block;
}
.ck-card-title {
  font-family: 'STXinwei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
  font-size: 24px;
  /* background-image: url(../../assets/titlebg2_5.png);
  background-repeat:no-repeat;
  background-size: 100%; */
}
.ck-card-outline {
  font-family: 'STXinwei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
}
.ck-card-tag {
  font-size: 12px;
}
.ck-card-tag .el-tag {
  margin: 0 5px 5px 0;
}
.ck-card-tag .el-tag:last-child {
  margin-right: 0;
}
.ck-card-tag2 {
  font-size: 12px;
  margin-top: 10px;
}
.ck-card-tag2 .el-tag {
  margin: 0 5px 5px 0;
}
.ck-card-tag2 .el-tag:last-child {
  margin-right: 0;
}
.ck-card-blogDetail {
  max-width:760px;
  margin-left:auto;
  margin-right:auto;
}
/* 覆盖原生样式 */
.el-col-20 {
  width: 100%;
}
.el-col-16 {
  width: 100%;
}
.el-col-14 {
  width: 100%;
}
.el-col-12 {
  width: 100%;
}
.el-col-11 {
  width: 100%;
}
.el-col-10 {
  width: 100%;
}
.el-col-8 {
  width: 100%;
}
.el-col-6 {
  width: 70%;
}
.el-col-4 {
  width: 100%;
}
.el-footer {
  padding: 10px 10px 10px 10px;
}
.el-header {
  padding: 0px;
}
.el-aside {
  color: #333;
}
.el-main {
  color: #333;
  /* text-align: center; */
}
  