#app {
  min-width: unset;
}
/* 自定义样式 */
.ck-aside {
  display: none;
  width: 200px !important;
}
.ck-idx-head-header {
  font-size: 14px;
}
.ck-idx-head-main {
  font-size: 14px;
}
.ck-idx-head-aside {
  font-size: 12px;
}
.ck-idx-head-footer {
  font-size: 10px;
  text-align: center;
}
.ck-display-none-app {
  display: none !important;
}
.ck-main-div {
  min-height: 530px;
}
.ck-image {
  width: 100%;
  display: block;
}
/* 覆盖原生样式 */
.el-col-14 {
  width: 100%;
}
.el-col-12 {
  width: 100%;
}
.el-col-11 {
  width: 100%;
}
.el-col-10 {
  width: 100%;
}
.el-col-6 {
  width: 70%;
}
.el-footer {
  padding: 10px 10px 10px 10px;
}
.el-header {
  padding: 0px;
}
.el-aside {
  color: #333;
}
.el-main {
  color: #333;
  /* text-align: center; */
}
  